.slots-display{
  background-color: blanchedalmond;
  padding: 1px;
}


.button-style{
  border: none;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 30px;
}